$dark: #050609;
$primary: #d69f7e;
$primary-light: #f5d0c5;
$secondary: #3c0000;
$secondary-light: #774936;
$remove: red;
$remove-light: rgb(230, 127, 127);
$reset: rgb(95, 95, 95);
$reset-light: rgb(150, 150, 150);
